
/* header */

html,body{
  margin:0px;
  font-family: Roboto, Arial, Helvetica;
  font-size:15px;
}
h2 {
  font-weight:700;
  font-size:3em;
 font-family: 'Source Sans Pro', sans-serif;
}

section {
    padding: 75px 0;
}
section .servicios {
  margin-bottom:30px;
}

.hero-image{
  background: url('http://3.bp.blogspot.com/-Rnu-vLpd450/VHejWUmmoTI/AAAAAAAAAhQ/h1XSc8CZ6uc/s1600/apple_desktop-wallpaper-1920x1080.jpg'), black;
  background-size: cover;
  background-position: right;
  color:white;

}

header img {
    display: block;
    margin: 0 auto 20px;
}


header {
  text-align :center;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

/*Navbar*/

.navbar-custom {
  background-color:#46d0b5;

}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-custom {
    background: #111820;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-brand.active, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover {
    color: #fff;
}
.navbar-custom .navbar-nav li a {
    color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    color: white;
}
/*Sobre mi*/

.imgPerfil{
  border-radius: 50%;
  height: 40vh;
}

.imgPortafolio{
  margin: 1px 40px;
}

.imgPortafolioGit{
  margin: 1px 40px;
  height: 130px;
  border-radius: 50%;
}
.me {
  background-color:#18BC9C;
}

.text-intro {
  font-size :4.3em;
  font-weight: 700;
}

.white {
  color:white
}
/*Portafolio*/

.tech {
    margin: 0 0 15px;
    right: 0;
}
.social  {
  padding:12px;
   font-size:2em;
  background-color:#17a287;
  colo:white;
}
.white {
  colo:white;
}

.portafolio-text {
  margin-bottom: 25px;
    margin-top: 10px;
}

.separator-portafolio {

 background-color:#18BC9C; /*el sepataor principal va  antes de este*/
  margin-bottom:50px;
}

/*separtaor*/

.separator {
     margin-top: 0;
    width:40%;
  margin: 0 30% 0 30%;
    margin-bottom: 15px;
    font-size: 36px;
    border-bottom: 6px solid white;
    padding-bottom: 5px;
}

/*skills*/

.skills {
  background-color:#F7F7F7;
}
h4 {
      font-weight: 700;
}
/*charges*/
.containerCircle{
    width: 110px;
    height: 110px;
    margin: 60px auto;
}
.prec{
    top: 35px;
    position: relative;
    font-size: 30px;
}

.circle{
    position: relative;
    top: 10px;
    left: 10px;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #F7F7F7;
}

.active-border{
    position: relative;
    text-align: center;
    width: 140px;
    height: 140px;
    border-radius: 100%;

    background-color:#13b0a5;
    background-image:
        linear-gradient(180deg, transparent 50%, #e0e0e0 50%),
        linear-gradient(90deg, #e0e0e0 50%, transparent 50%);

}

/*Experiencia*/

.servicios h2 {
  padding-bottom:30px;
}
p {
  text-align:inherit;
  font-size:20px;
  line-height:1.5;
  font-family: 'Lato', sans-serif;
  color:white;
  margin: 10px 0 10px;
}

.fa-stack {
    font-size:4em;
}

.texto-servicios p{
 color:gray;
}

/*footer*/

.footer-page .first {
  margin-top:75px;
 border-bottom:1px solid rgba(225, 225, 225, 0.7);
}

.footer-page {
 background-color:#28353e;
}
/*Responsive*/

@media (max-width: 767px){
  section {
    padding: 75px 0;
}
.navbar-custom.affix .navbar-brand {
    font-size: 1.7em;
}
}

@media (min-width: 768px)
{

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 19.5px;
}
}
